ellipsis()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
city()
  /*width 100px*/
  height 25px
  line-height 25px
  margin 5px
  /*margin-left 8px*/
  border 1px solid #d4d2d2
  border-radius 3px
  text-align center //文字水平居中
  vertical-align middle //文字垂直居中
  font-size 16px
  color $darkTextColor
